<p id="notice"><%= notice %></p>

<!-- bootstrap -->

  <body>
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">
          <strong> WE ARE HERE FOR YOUR NIPPLEs</strong></h1>
        <p class="lead text-muted">how sore is your nipple 1 to 5? </p>
        <p>
          <!-- section nipple -->
          <div class= "row">
          <h1>1</h1>
          <div class="nipple1 hvr-grow", id="nipple1"> <%=image_tag "nipple-imgs.png" ,size: "100x100"%> </div>
          <div class="nipple2 hvr-grow", id="nipple2"> <%=image_tag "nipple-imgs.png" ,size: "100x100"%> </div>
          <div class="nipple3 hvr-grow", id="nipple3"> <%=image_tag "nipple-imgs.png" ,size: "100x100"%> </div>
          <div class="nipple4 hvr-grow", id="nipple4"> <%=image_tag "nipple-imgs.png" ,size: "100x100"%> </div>
          <div class="nipple5 hvr-grow", id="nipple5"> <%=image_tag "nipple-imgs.png" ,size: "100x100"%> </div>
          <h1>5</h1>

        </p>
      </div>
    </section>

    <div class="album text-muted">
      <div class="container">
        <h1>Products</h1>


        <br>
        <div class="row">
            <% @products.each do |product| %>
              <div class="card">
                <%= link_to product do %>
                  <%= image_tag product.photo, size: "300x300" %>
                <% end %>

             <p><%= product.description %></p>
             <p> $ <%= product.price    %></p>
             <p>
                <%= link_to 'Edit', edit_product_path(product) %>
                <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
              </div>
            <% end %>
        </div>
      </div>
    </div>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>copy right all reserve &copy;Nippl.com, <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>


    <script>
      var bounceNipple = function(combo, animationName, showAlert) {
        var animationClasses = 'animated ' + animationName;
        $('.' + combo).addClass(animationClasses);
        //  console.log('.nipple added classes to combo: %s, %s', combo, animationClasses);
        if (showAlert == true) {
          alert("GO TO HOSPITAL!!");
        }
        setTimeout(function(){
          $('.' + combo).removeClass(animationClasses);
          // console.log('.nipple removed classes to combo: %s, %s', combo, animationClasses);
        }, 1500);
      };

      $(document).ready(function() {
          var animationActions = ['bounce', 'flash', 'tada', 'swing', 'shake'];
          var prefix = 'nipple';
          animationActions.forEach(function (animationName, animationActionNo) {
            animationActionNo += 1;
            console.log(`.nipple event listener generated: ${animationName}${animationActionNo}`); // string interpolation
            // console.log('.nipple event listener: %s%d', animationName, animationActionNo); // string placeholders
            var combo = prefix + animationActionNo;
            $('#' + combo).click (function() {
              if (animationName == 'shake')
                bounceNipple(combo, animationName, true);
              else {
                bounceNipple(combo, animationName, false);
              }
            });
          });
      });
    </script>
