
<%= form_for([@product, @product.reviews.build]) do |f| %>

  <div id="rating-form">
    <%= f.label :rating %><br />
    <%= f.text_field :rating %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<!-- input? -->
